body {
  background-image: url(./fondoAnimado.gif);
}
.Calculadora{
    display:block;
    margin:0 auto;
    padding:20px;
    background-color:#c0ccecf3;
    width:350px;
    height:550px;
    border-radius: 30px;
    border-bottom-style: solid;
  }
  .Calculadora td button{
    display:block;
    width:65px;
    height: 65px;
    font-size: 35px;
    border-radius: 40px;
    background-color: rgb(240, 235, 228);
    margin: 1px;
  }
  .Calculadora th button{
    display:block;
    width:90px;
    height: 45px;
    font-size: 25px;
    border-radius: 20px;
    background-color: rgba(247, 82, 6, 0.692);
    margin: 15px;
    border-bottom-color: brown;
  }
  #pantalla{
    display:block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    margin-block-start: 20px;
    width:300px;
    height: 80px;
    line-height: 100px;
    background-color:rgb(220, 236, 126);
    border-radius: 25px;
  }
  #calcular{
    display:block;
    width:65px;
    height: 65px;
    font-size: 25px;
    background-color: rgba(175, 230, 48, 0.308);
    border-radius: 25px;
  }
  .Calculadora th button:hover{
    background-color: chocolate;
  }
  .Calculadora td button:hover{
    background-color: rgb(228, 253, 0);
  }
  #calcular:hover{
    background-color: darkgreen;
  }